/************** BASE ******************/
//body
body {
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Raleway', sans-serif;
    color: $textBlk;
    background-color: $bkgrndGry;
    padding-bottom: 50px;
  }