/************** BASE ******************/
//body
body {
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Raleway', sans-serif;
    color: $textBlk;
    background-color: $bkgrndGry;
    padding-bottom: 50px;
  }

  .landingPage {
    //margin-top: 6em;
  }

  .blogBox {
    width: 100%;
    height: 92%;
    background: linear-gradient(blue, 10%,rgba(241,236,241,0.5));
  }