
/* ------------ Base App Colors ----------------------*/
$yellow: #FFFF00;

$cogBlue:#00A3E0 ;
$cogPurple:#9E007E;

//body
$textBlk:#2A3035;
$textGry:#737B82;
$bkgrndGry:#F5F5F5;

//Primary
$cogGreen:#84BD00;
$cogOrange:#FA4616;

//Secondary
$gry2:#DBE3E8;
$gry3:#EDF0F2;
$gry4:#A7B7C2;
