
<<<<<<< HEAD
/* ------------ Base App Colors 21c----------------------*/
$yellow:  #yellow;
$yolk:    #FFE600;
=======
/* ------------ Base App Colors ----------------------*/
$yellow: #FFFF00;
>>>>>>> respComic2
