
.pod1 {
	/* background: url(../podscape/comics/2008-08-05/2008-08-05_sliced_all_01.gif);*/
	display:block;
	height:364px;
	width:225px;
	background-position:center;
	background-repeat:no-repeat;
}

.episode_Title {
    font-family: monospace;
    font-size: .9em;
}
