/* ------------ Comic ----------------------*/
.pod1 {
	/* background: url(../podscape/comics/2008-08-05/2008-08-05_sliced_all_01.gif);*/
	display:block;
	/*height:364px;
	width:225px; */
	background-color: rgb(226,73,47);
	background-position:center;
	background-repeat:no-repeat;
}

.pod2 {
	background-color: rgb(72,138,228);
}


.pod3 {
	background-color: rgb(186,223,48);
}


.pod4 {
	background-color: rgb(85,48,223);
}


.title_Box {
	color: #99ccff;
	background-color: #1f2021;
}

.episode_Title {
    font-family: monospace;
    font-size: .9em;
}
