/* ------------ Comic ----------------------*/
.panel-body {
	padding: 0 !important;
}

.comic {
	display: inline-flex;
	flex-wrap: wrap;
	max-width: 930px;
	border: solid .5px #EFEFEF;
	padding: 1em .5em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

	.comicTitle, .comicFooter {
		width: 100%;
	}

	 
	
}


.panel {
	padding-right: 1.3em;
}

 .comicTitle {
	color: #F777D7;
}


.pod1 {
	/* background: url(../podscape/comics/2008-08-05/2008-08-05_sliced_all_01.gif);*/
	display:block;
	/*height:364px;
	width:225px; */
	background-color: rgb(226,73,47);
	background-position:center;
	background-repeat:no-repeat;
}

.pod2 {
	background-color: rgb(72,138,228);
}


.pod3 {
	background-color: rgb(186,223,48);
}


.pod4 {
	background-color: rgb(85,48,223);
}


.title_Box {
	color: #99ccff;
	background-color: #1f2021;
}

.episode_Title {
    font-family: monospace;
    font-size: .9em;
}
