/*********** Screens ***************/

@media only screen and (max-width: 480px) {
    .panel {
        width:100%;
        background-color: lightblue;
    }
    .comicTitle {
        color:#7400FF;
      
    } 
}