/*------------ UX ------------ */

section {
    background-color: #FFFFFF;
    margin: 20px 10px;
    border: solid .5px #09090F;
    padding: 5% 5%;
}

.ux {
    .pName {
        margin: 20px 10px;
    }
}

.uxpTitle {
    color: $cogPurple;
  }